.textfield{
    border-top: 1px solid rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 3px 8px;
    position: relative;
    width: 100%;
    margin-top: 12px;
    box-sizing: border-box;
}
.title{
    position: absolute;
}
.title span{
    transition: 0.2s;
    color: rgba(0,0,0,0.5);
}
.textfield input{
    border: none;
    background-color: transparent;
    outline: none;
    padding-top: 15px;
    margin-left: 8px;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    width: 100%;
}
.empty .title{
    font-size: 20px;
    margin-top: 7px;
}
.focus .title{
    font-size: 12px;
}